.box1{
    height:50px;
    width:600px ;
    background-color:darkslategrey;
}
.box2{
    height: 400px;
    width: 600px;
    background-color: darkseagreen;
}
.box3{
    height:50px ;
    width: 600px;
    background-color: darkslategray;
}