.khushi{
    height: 400px;
    width: 400px;
    background-color: darkred;
}
.hiya{
    height: 400px;
    width: 400px;
    background-color: darkgreen;
}
.riya{
    height: 400px;
    width: 400px;
    background-color: darkmagenta;
}
.diya{
    height: 400px;
    width: 400px;
    background-color: darkslategray;
}
.swarna{
    height: 400px;
    width: 400px;
    background-color: darkslateblue;
}
.fatema{
    height: 400px;
    width: 400px;
    background-color: hotpink;
}
.borna{
    height: 400px;
    width: 400px;
    background-color: purple;
}